.menu-wrapper {
    transition: width linear .3s;
    aside {
        transition: width linear .3s;
    }
}

.top-header {
    transition: width linear .3s, margin-left linear .3s;
}

section {
   transition: width linear .3s, margin-left linear .3s;
}