.top-header li,
nav li,
nav a,
.menu-manager-section a,
.underlined-link {
    transition: background-color ease-in $color-transition-speed;
}

.top-header .profile span,
.top-header a,
nav a,
.hamburger,
.menu-manager-section a,
.underlined-link a {
    transition: color ease-in $color-transition-speed;
}

.top-header ul li:after {
    transition: background-color ease-in $color-transition-speed;
}


.underlined-link a {
    transition: opacity ease-in $opacity-transition-speed;
}

.menu-wrapper {
    transition: width linear $size-transition-speed;

    aside {
        transition: width linear $size-transition-speed;
    }
}

.top-header {
    transition: width linear $size-transition-speed, margin-left linear $size-transition-speed;
}

section {
    transition: width linear $size-transition-speed, margin-left linear $size-transition-speed;
}