* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
ul,
ol {
    font-family: $main-font;
    color: $section-main-color;
}

a {
    text-decoration: none;
    color: $link-color;
}

body {
    background-color: $body-background-color;
}

// Styling of sections in the content area
section {
    display: flex;
    background-color: $section-background-color;
    margin: $section-margin;
    margin-left: calc(#{$menu-width} + #{$section-margin});
    flex-wrap: wrap;

    h3 {
        text-transform: uppercase;
    }

    header {
        justify-self: stretch;
    }

    header,
    .section-part {
        padding: $section-padding;
        width: 100%;
        border-bottom: solid 2px $input-border-color;
    } 
    .flex-center-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}