@media(max-width: 767px) {
  @include grid('sm');

  section,
  .top-header,
  .section-show-menu {
    margin-left: 0;
    width: 100%;
  }

  .top-header ul {
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
      overflow: auto;
    }
  }

  aside {
    position: unset;
    height: auto;
    width: 100%;

    .logo-section {
      position: unset;
      width: 100%;
      display: block;
      overflow: hidden;
      height: 75px;

      .logo {
        display: inline-block;
        color: #fff;
        font-size: 75px;
        margin-left: 10px;
      }
    }

    nav,
    .menu-manager-section {
      display: none;
    }
  }

  .show {
    position: unset;
    width: 100%;
    height: auto;

    nav,
    .menu-manager-section {
      display: unset;

    }

    .menu-manager-section {
      a {
        justify-content: flex-start;
        margin: 20px;
      }
    }

  }
  .chart-legend {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}
  .links-section {
    padding: 0;
    .links-list .underlined-link {
      width: 100%;
      overflow: scroll;
      flex-wrap: wrap;
    }
  }


}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}