@media(max-width: 767px) {
  @include grid('sm');

  aside {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $menu-background-color;
    width: $menu-width;
    transition: width linear .3s;

    .logo-section {
      height: $logo-bar-height;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      overflow: hidden;

      a {
        height: 22px;
        display: flex;
        align-items: center;

        i {
          line-height: 22px;

          &:first-of-type {}

          &:last-of-type {}
        }
      }

      .logo {
        display: flex;
        color: $menu-color-hover;
      }

      .hamburger {
        color: $menu-color;
        font-size: 22px;

        &:hover {
          color: $menu-color-hover;
        }
      }
    }

    nav {

      ul {
        list-style-type: none;
        padding: 0 0 20px 0;
        border-bottom: solid 2px $menu-background-color-hover;
      }

      li {
        padding-left: $menu-left-padding-hover;
        background-color: $menu-background-color;
        overflow: hidden;

        &:hover {
          background-color: $menu-left-padding-color-hover;
          background-color: $menu-left-padding-color-hover;
        }
      }

      a {
        display: flex;
        visibility: visible;
        flex-wrap: nowrap;
        font-size: 16px;

        height: 100%;
        width: 100%;
        color: $menu-color;
        background-color: $menu-background-color;

        &:hover {
          color: $menu-color-hover;
          background-color: $menu-background-color-hover
        }
      }

      i {
        margin-right: 20px;
      }

      span {
        white-space: nowrap;
        display: flex;
        visibility: visible;
        opacity: 1;
      }
    }

    .menu-manager-section {
      padding: 0 15px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;

      h4 {
        display: unset;
        text-transform: uppercase;
        justify-self: stretch;
        margin: 20px 0;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .avatar-img {
          margin-right: 10px;
          border-radius: 50%;
          max-width: 100%;
          width: 60px;
        }

        .manager-name {
          display: unset;
        }
      }
    }
  }

  .show {
    width: calc(#{$menu-width} - 165px);
    
    .logo-section {
      .logo {
        flex: 8 2;
        color: $menu-color-hover;
        font-size: 100px;
        margin-left: 15px;
        display: none;

      }

      .hamburger {
        justify-content: center;
        flex: 3 1;
        color: $menu-color;
        font-size: 22px;

        &:hover {
          color: $menu-color-hover;
        }
      }
    }

    nav {

      ul {
        list-style-type: none;
        padding: 0 0 20px 0;
        border-bottom: solid 2px $menu-background-color-hover;
      }

      li {
        padding-left: $menu-left-padding-hover;
        background-color: $menu-background-color;
        overflow: hidden;

        &:hover {
          background-color: $menu-left-padding-color-hover;
          background-color: $menu-left-padding-color-hover;
        }
      }

      a {
        display: flex;
        font-size: 16px;
        padding: 16px 20px;
        height: 100%;
        width: 100%;
        color: $menu-color;
        background-color: $menu-background-color;
        flex-wrap: nowrap;

        &:hover {
          color: $menu-color-hover;
          background-color: $menu-background-color-hover
        }
      }

      i {
        margin-right: 20px;
      }

      span {
        display: flex;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        white-space: nowrap;
        transition: opacity ease-in-out .4s, visibility ease-in-out .4s;
      }

    }

    .menu-manager-section {
      padding: 0 15px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;

      h4 {
        display: none;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .avatar-img {
          margin-right: 10px;
          border-radius: 50%;
          max-width: 100%;
          width: 60px;
        }

        .manager-name {
          display: none;
        }
      }
    }
  }

}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}