/* Colors */
$body-background-color: #f5f5f2;
$panel-background-color: #ffffff;

$panel-main-color: #a6a6a6; // headings, field descriptions

$input-color: #333333;
$input-border-color: #e3e3e3;

$menu-background-color: #191919;
$menu-background-color-hover: #282828;
$menu-color: #999999;

$warning-color: #f58220;
$warning-color-hover: #ffa200;

$secondary-color: #979797;
$secondary-color-hover: #bababa;

$disabled-color: $input-border-color; 

$link-color: #56819f;
$link-color-hover: $warning-color-hover;

$chart-signups-color: #80bfca;
$chart-ftd-color: #ff9a38;
$chart-earned-color: #59b66d;
$chart-button-color: #f3f3f1;

$scroll-light-color: #e3e3e3;
$scroll-dark-color: #9c9c9c;

$success-color: #04ae00;
$messenger-online: $scroll-light-color;





$brand-main-color: #ff0000;



/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$main-font: "Open Sans", Helvetica, Arial;