/* Variables */
$body-background-color: #f5f5f2;

$section-background-color: #ffffff;
$section-main-color: #a6a6a6; // headings, field descriptions
$section-margin: 20px;
$section-padding: 20px;

$input-color: #333333;
$input-border-color: #e3e3e3;

// Menu
$menu-background-color: #191919;
$menu-background-color-hover: #282828;
$menu-color: #999999;
$menu-color-hover: #ffffff;
$menu-left-padding-color-hover: #f58220;
$menu-left-padding-hover: 5px;
$menu-width: 230px;
$menu-minus-width: 165px;
$logo-bar-height: 75px;

$warning-color: #f58220;
$warning-color-hover: #ffa200;
$button-color: #ffffff;

$secondary-color: #979797;
$secondary-color-hover: #bababa;

$disabled-color: #e3e3e3;

$link-color: #56819f;
$link-color-hover: #ffa200;

$chart-signups-color: #80bfca;
$chart-ftd-color: #ff9a38;
$chart-earned-color: #59b66d;
$chart-button-bg-color: #f3f3f1;
$chart-button-color: #a6a6a6;;

$scroll-light-color: #e3e3e3;
$scroll-dark-color: #9c9c9c;

$success-color: #04ae00;
$messenger-online: #e3e3e3;

$brand-main-color: #ff0000;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$main-font: "Open Sans", Helvetica, Arial;