
    .input-date-range {
        display: flex;
        align-items: center;
        border: solid 2px $input-border-color;
        border-radius: 5px;
        margin-right: 10px;
        padding-right: 10px;
    }
    .input-date {
        display: inline-block;
        justify-self: flex-start;
        padding: 0 30px 0 10px;
        &:first-of-type {
            border-right: solid 2px $input-border-color;
        }
        i {
            justify-self: center;
        }
    }