[class^="status-"] {
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
        z-index: 3;
    }
}

.status-sm,
.status-icon {
    &::before {
        width: 10px;
        height: 10px;
    }
}

.status-md {
    &::before {
        width: 15px;
        height: 15px;
    }
}

.alert-status {
    &::before {
        top: -5px;
        right: 0;
    }
}

.manager-status {
    &::before {
        top: 0;
        right: 0;
    }
}

.status-green {
    &::before {
        background-color: $success-color;
    }
}

.status-orange {
    &::before {
        background-color: $warning-color;
    }
}