 .counters {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;

     .underlined-counter {
         flex-basis: 30%;
         margin: 10px 30px;
         border-bottom: solid 2px $input-border-color;
         display: flex;
         justify-content: space-between;

         span {
             padding: 5px;

             &:first-of-type {
                 font-weight: bold;

             }

             &:last-of-type {
                 color: $input-color;

             }
         }

     }
 }

 .chart-img {
     max-width: 70%;
     width: 70%;
 }