.links-section {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .links-list {  
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .underlined-link {
            display: flex;
            width: 60%;
            justify-content: flex-start;
            padding: 20px;
            border-bottom: solid 2px $input-border-color;
            justify-self: stretch;
            span {
                flex: 1 1 50%;
                display: flex;
                justify-content: flex-start;
            }
            a {
                flex: 1 1 50%;
                display: flex;
                justify-content: flex-start;
            }
            &:first-of-type .btn,
            &:last-of-type .btn {
                flex: unset;
                margin: 0 auto;
                margin-bottom: 10px;
            }
            &:last-of-type {
            margin-top: 10px;
            border-bottom: unset;
            }

        }


    }

    //border-bottom: solid 2px $input-border-color;

}