
.top-header {
    background-color: $section-background-color;
    margin-left: calc(#{$menu-width} - #{$menu-minus-width});
    width: calc(100% - (#{$menu-width} - #{$menu-minus-width}));
    font-size: 1.3em;
    i {
        font-size: 0.9em;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;

        li {
            display: flex;
            border-left: solid 2px $input-border-color;
        }
    }

    a {
        display: flex;
        color: $section-main-color;
        padding: 18px;

        span {
            margin: 0 20px;
        }
    }

    .wallet {
        span {
            font-weight: 600;
        }
    }

    .profile {
        span {
            font-size: 0.7em;
            font-weight: 600;
            color: $link-color;
        }
    }
}

.top-header-show-menu {
    margin-left: $menu-width;
    width: calc(100% - #{$menu-width});
}